<h1>Login</h1>
<form id="loginForm" method="post">

    <input name="username" type="text" required placeholder="username">
    <br>
    <input name="password" type="text" required placeholder="password">
    <br>
    <input title="Submit" type="submit">

</form>
