<h1>dingo</h1>
<form id="registerform" method="post" action="/register">

    <input name="username" type="text" required placeholder="username">
    <input name="password" type="text" required placeholder="password">
    <input name="age" type="text" required placeholder="age">
    <input name="band" type="text" required placeholder="band">


    <input title="Submit" type="submit">

</form>