

<form id="registerform">

    <input title="username" type="text" required placeholder="username">
    <input title="password" type="text" required placeholder="password">

    <input title="Submit" type="submit">

</form>