<h1>Match with other users<h1>
  <form id="matchform" method="post">
      <input name="username" type="text" required placeholder="username"> 
      <select name="attribute">
        <option value="genre">Genre</option>
        <option value="instrument">Instrument</option>
        <option value="band">Band</option>
        <option value="age">Age</option>
        <option value="skill">Skill</option>
      </select>
      <input title="Submit" type="submit">
  </form>
